<section id="{{ section.section_id }}" class="page-section bg-dark {{ section.background_style }}" style="color:#fff;">
  <div class="container ">
    <h2 class="mb-4 text-center">{{ section.title }}</h2>
	  <div class="row" style="background-color:#212529;color:#000;">
    <div class="col-xs-12 col-sm-6 col-lg-4" ><h3>01</h3></div>
    <div class="col-xs-12 col-sm-6 col-lg-8" >Each firm individually generates its own key pair, where each key pair contains a public encryption key and a private decryption key.</div>
  </div>
	
	<ol>
	<li class="mb-4">Each firm individually generates its own key pair, where each key pair contains a public encryption key and a private decryption key.</li>
	<li class="mb-4">All firms submit their public keys to the server.</li>
	<li class="mb-4">The server combines all firms' public keys into a single joint/shared public key.</li>
	<li class="mb-4">This new joint/shared public key is distributed from the server to all firms.</li>
	<li class="mb-4">Each firm encrypts its private data using this new joint/shared public key, generating a ciphertext (an encrypted block of data).</li>
	<li class="mb-4">Each firm sends the ciphertext of its private data to the server. This ciphertext completely hides the firm's data.</li>
	<li class="mb-4">The server runs computations on all the encrypted data, producing an encrypted result of the computation.</li>
	<li class="mb-4">The server sends the encrypted result back to each firm.</li>
	<li class="mb-4">Each firm uses the private key they generated in Step 1 to partially decrypt the answer.</li>
	<li class="mb-4">Each firms sends this partially decrypted answer back to the server. Note that without all the partial decryption pieces from all firms, the result is still completely hidden.</li>
	<li class="mb-4">The server combines the results of all the partial decryptions it receives from firms to produce the decrypted result that is then shared with all firms. </li>
	</ol>
    {% include actions.html actions=section.actions %}
  </div>
</section>
