<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
	  
	  <p>Building on the success of our earlier computations, we are assembling a larger group of companies in key sectors to participate in the next round of computations. All participants will be able to compare their own security posture against their peer group and will receive an actionable analysis of defensive areas that should be considered for additional investment and scrutiny based on actual losses throughout the group. Participants will also be able to see how different sectors compare to one another.</p>

<p>The working group is by invitation only, but if you think your company may be a good fit, please reach out to us at <a href="mailto:scram@mit.edu" target="_blank">scram@mit.edu</a>. 
</p>
  
  </div>
  
</div>
</div>

<div class="container paddingdesktop">
<div class="row justify-content-center" >
    <div class="col-xs-12 col-sm-6 lcontent">
	<h2 class="h3 mt-0 text-center">Prepare for an existing computation</h2>
    <hr class="divider my-4">
	<h3 class="h4">Cyber Risk Benchmarking 2020</h3>
	<ul>
	<li>Documents
	<ol><li>Estimating losses (xlsx)</li>
	<li>Template <a href="https://drive.google.com/file/d/1DKkjudOVX2hAXbHf74wNIDT6H5qP7zR0/view" target="_blank">(csv)</a></li></ol></li>
	<li>Instructional videos
	<ol><li>Overview</li>
	<li>Estimating losses</li>
	<li>Filling out the template</li>
	<li>Running the computation</li></ol></li>
	<li>Upcoming dates</li>
	</ul>
	</div>
    <div class="col-xs-12 col-sm-6 rcontent">
	<h2 class="h4 mt-0 text-center">Join a new computation</h2>
    <hr class="divider my-4">
	<p>Please reach out to us at <a href="mailto:scram@mit.edu" target="_blank">scram@mit.edu</a> if you are interested in joining future computations, or if you have suggestions for new computations that could be run on the platform. 
</p>
<center><a class="btn btn-xl btn-research" href="https://scram.mit.edu/accounts/login/?next=/" target="_blank">Log in to an existing computation</a></center>
	</div>
  </div>
  </div>
  <div class="bottombtn patbtn"><center><a class="btn btn-xl btn-research" href="https://scram.mit.edu/accounts/login/?next=/" target="_blank">Log in to an existing computation</a></center></div>

</section>

