<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
  <div class="container">
    <h2 class="text-center mt-0">{{ section.title }}</h2>
    <hr class="divider my-4">
    <div class="row justify-content-center">
      <!-- {#% assign cols = section.secured.size | at_most: 4 %#} -->
      {% assign cols = section.secured.size %}
      {% if cols > 4 %}
        {% assign cols = 4 %}
      {% endif %}

      {% assign colsL = 12 | divided_by: cols %}
      {% assign colsM = colsL | times: 2 %}

      {% for secured in section.securedt %}
      <div class="col-lg-{{ colsL }} col-md-{{ colsM }} text-center">
        <div class="mt-5">
          <i class="fas fa-4x {{ secured.icon }} text-primary mb-4"></i>
          <h3 class="h4 mb-2">{{ secured.title }}</h3>
          <div class="text-muted mb-0">
            {{ secured.text | markdownify }}
            {% if secured.url %}
              <a href="{{ secured.url }}"><i class="fas fa-link"></i></a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
	<p>The SCRAM computation platform consists of three main elements: a central server, software clients, and a communication network to pass encrypted data between the clients and the server. The central server manages the data collection from the clients and hosts the core cryptographic software that performs only pre-defined and approved computations on the encrypted data. It is also responsible for piecing together and redistributing the joint public key that is used by the clients to encrypt any data for the computation. </p>
	<p>The individual software clients create public/private key pairs on the local machine and enable the input of data, its encryption, and the communication back and forth with the server. The individual clients also play a vital role in decrypting the encrypted result of the computation run by the server. If firms wish to have an additional security guarantee, they can compile the joint public key for the computation individually by using the public keys of every other participant as well as their own. This ensures that the joint public key was generated correctly, that is, the data encrypted with this key can only be decrypted if the firm's own private key (which it controls) is used in the distributed decryption process. </p>
	<p>The computation requires a network to pass information back and forth to perform the operations on the encrypted data. The only data ever transmitted over the network is either strongly encrypted or is the public key of the clients, which can only be used to encrypt data, not decrypt it. The network uses TLS (Transport Layer Security) for a second layer of encryption to protect the encrypted data in transit. 
</p>
  </div>
</section>
