<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
<div class="container-fluid">
{% for service in section.services %}
<div class="row" >
    <div class="col-sm-6 col-xs-12">
	<h3 class="h4 mb-2">{{ servicehome1.title1 }}</h3>
	<p>{{ servicehome1.text1 | markdownify }}</p>
	<h4 class="h4 mb-2">{{ servicehome1.subtitle1 }}</h4>
	<ul>
            <li>{{ servicehome1.text2 | markdownify }}</li>
			<li>{{ servicehome1.text3 | markdownify }}</li>
           </ul>
	
	</div>
    <div class="col-sm-6 col-xs-12">
	<h3 class="h4 mb-2">{{ servicehome2.title1 }}</h3>
	<p>{{ servicehome2.text1 | markdownify }}</p>
	<h4 class="h4 mb-2">{{ servicehome2.subtitle1 }}</h4>
	<ul>
            <li>{{ servicehome2.text2 | markdownify }}</li>
			<li>{{ servicehome2.text3 | markdownify }}</li></div>
			
  </div>
</div>      {% endfor %}
  
</section>