
<section class="page-section {{ section.background_style }}" id="{{ section.section_id }}">
      <div class="container">
	      
        <div class="row">
          <div class="col-lg-6 about-img">
            <img src="assets/img/bg-mastheadhero.jpg" alt="">
          </div>

          <div class="col-lg-6 content">
            <h2>Use case: Benchmarking (CISO)</h2>
			<hr class="divider my-4">
            <h3>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3>

            <ul>
              <li><i class="ion-android-checkmark-circle"></i> How does our security posture compare to other firms in the sector? </li>
              <li><i class="ion-android-checkmark-circle"></i> Where are our stronger and weaker points relative to our peers? </li>
            </ul>

          </div>
        </div>

      </div>
    </section>